:root {
    --green-white: #dff0d8;
    --green-light: #5cb85c;
    --green-medium: #449d44;
    --green-dark: #3c763d;
    --green-black: #243824;

    --blue-light: #428bca;
    --blue-medium: #3071a9;
    --blue-dark: #3c4a8a;
    --blue-black: #2b3665;

    --purple-dark: #4d3d76;

    --gray-light: #f9f9f9;
    --gray-medium: #e6e6e6;

    --gray-dark: #ddd;
    --gray-dark1: #aaa;
    --gray-darkest: #777;

    --red-medium: #d9534f;

    --yellow-lightest: #fcf8e3;
    --yellow-lighter: #ecbf7f;
    --yellow-light: #f0ad4e;
    --yellow-medium: #f0ad4e;
    --yellow-dark: #c18637;

    --speed-fast-progress-bar: .6s;
    --speed-slow-progress-bar: 1.5s;
    --width-prorgess-bar: 400px;
    --width-header-btn-prorgess-bar: 25px;

    --box-shadow: var(--blue-dark)
}

.flex-center:not(.hidden) {
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.wrapper-input-example {
    padding: 15px;
}

.example {
    margin-bottom: 15px;
}

@media (max-width: 420px) {
    :root {
        --width-prorgess-bar: 300px;
    }
}